
/pkg/*
!/pkg/BayesFactor/
!/pkg/BayesFactor/**/*

/www/

.DS_Store
.Rproj.user
.Rhistory
.RData

*.com
*.class
*.dll
*.exe
*.o
*.so
*.rds
*.tar.gz
*.tgz

pkg/BayesFactor/build/*
pkg/BayesFactor/temp/*
