useDynLib(BayesFactor)

export( ttest.Gibbs,
		ttest.Quad,
		oneWayAOV.Gibbs,  
		oneWayAOV.Quad, 
		linearReg.Quad, 
		nWayAOV.MC,
		nWayAOV.Gibbs, 
		allNways, 
		logMeanExpLogs, 
		logCumMeanExpLogs,
    BFInfo,
    aovGUI)

import(mvtnorm,reshape, Rook, RJSONIO, pbapply)

