useDynLib(BayesFactorPCL)

export( ttest.Gibbs,
		ttest.Quad,
		oneWayAOV.Gibbs,  
		oneWayAOV.Quad, 
		linearReg.Quad, 
		nWayAOV.MC, 
		all.Nways, 
		logMeanExpLogs, 
		logCumMeanExpLogs)
