useDynLib(BayesFactor)

export( ttest.Gibbs,
		ttest.Quad,
		oneWayAOV.Gibbs,  
		oneWayAOV.Quad, 
		linearReg.Quad, 
		nWayAOV.MC,
		nWayAOV.Gibbs, 
		allNways, 
		logMeanExpLogs, 
		logCumMeanExpLogs,
    BFInfo,
    nWayAOV2,
    allLinearReg,
    linearReg.Gibbs,
    ttestBF,
    lmBF)

import(mvtnorm, pbapply, stringr)
importFrom(methods, show)
importFrom(utils, head)
importFrom(utils, tail)
importFrom(graphics, plot)

exportClasses("BFmodel", "BFBayesFactor","BFlinearModel")
exportClasses("BFBayesFactorList", "BFoneSample","BFindepSample")
exportMethods("show","/","extractBF","length","[","compare", "sort", "min", "max", 
              "head", "tail","t","plot","summary","names")

S3method("c","BFBayesFactor")
S3method("plot","BFBayesFactor")
S3method("head","BFBayesFactor")
S3method("tail","BFBayesFactor")
S3method("min","BFBayesFactor")
S3method("max","BFBayesFactor")
S3method("sort","BFBayesFactor")

S3method("as.matrix", "BFBayesFactorList")
S3method("as.vector", "BFBayesFactorList")

