useDynLib(BayesFactor)

export(logMeanExpLogs, 
    logCumMeanExpLogs,
    BFInfo,
    ttest.tstat,
    oneWayAOV.Fstat, 
    linearReg.R2stat, 
    nWayAOV,
    ttestBF,
    lmBF,
    regressionBF,
    anovaBF,
    BFManual,
    as.BFBayesFactor,
    generalTestBF,
    meta.ttestBF,
    proportionBF,
    contingencyTableBF,
    enumerateGeneralModels)

import(mvtnorm, pbapply, stringr, coda, RcppProgress)
importFrom(methods, show)
importFrom(utils, head)
importFrom(utils, tail)
importFrom(graphics, plot)
importFrom(utils, packageDescription)
importFrom(Rcpp, evalCpp)
importFrom(gtools, rdirichlet)


exportClasses("BFmodel", "BFBayesFactor","BFlinearModel")
exportClasses("BFBayesFactorList", "BFoneSample","BFindepSample","BFcontingencyTable")
exportMethods("extractBF","compare","t","recompute","posterior","which.min","which.max","is.na")
              
S3method("is.na","BFBayesFactor")
S3method("c","BFBayesFactor")
S3method("plot","BFBayesFactor")
S3method("head","BFBayesFactor")
S3method("tail","BFBayesFactor")
S3method("min","BFBayesFactor")
S3method("max","BFBayesFactor")
S3method("which.min","BFBayesFactor")
S3method("which.max","BFBayesFactor")
S3method("sort","BFBayesFactor")
S3method("as.data.frame","BFBayesFactor")
S3method("as.vector","BFBayesFactor")
S3method("names","BFBayesFactor")
S3method("length","BFBayesFactor")
S3method("t","BFBayesFactor")


S3method("as.matrix", "BFBayesFactorList")
S3method("as.vector", "BFBayesFactorList")

S3method("as.mcmc", "BFmcmc")
S3method("as.matrix", "BFmcmc")
S3method("as.data.frame", "BFmcmc")

S3method("as.BFBayesFactor", "BFBayesFactorTop")
S3method("plot","BFBayesFactorTop")
S3method("sort","BFBayesFactorTop")
